@model Auction_house.Entity.AuctionEntity

<div class="auction-miniature">
    <div class="auction-wrapper">
        <div class="auction-thumbnail">

        </div>
        <div class="auction-description">
            <h3>@Model.Name</h3>
            <p>Kategoria: @Model.Category</p>
            <div class="auction-price">
                <span>Cena startowa: @Model.StartPrice zł</span>
            </div>
        </div>
    </div>
</div>